.wallet-container {
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 300px;
  min-height: 200px;
  background-color: lightgrey;
  button {
    border: 1px solid rgb(194, 193, 193);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    color: #484848;
    font-size: small;
    box-shadow: 0 0 1px 0px rgb(0 0 0 / 10%);
  }
  .addr {
    color: black;
    font-size: small;
    span {
      font-weight: bold;
    }
  }
  .phrases {
    font-size: xx-small;
    color: black;
    border: 1px solid salmon;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: #f44336;
    margin: 0;
  }
}
